<div class='home'>
  <h1>Mat's Travel Distance Calculater</h1>
  <p>Calculate your travel time by Car, Bus, Subway, Train, or Tram.</p>
  <p>Only enter start and end point direction or city,</p>
  <p>and you will get the travel time and distance.</p>
  <p><b>Have fun!</b></p>
</div>