<table class='travelTimeResults'>
  <thead>
    <tr class='travelTimeTr'>
      <td>Start Point</td>
      <td>End Point</td>
      <td>Distance</td>
      <td>Duration</td>
      <td>Transit Mode</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody class='travelTimeTableBody'>
    <% @travel_times.each do |travel_time| %>
      <%= render partial: 'travel_time_row', locals: { travel_time: travel_time } %>
    <% end %>
  </tbody>
</table>