<h1>Travel Times</h1>
<div id='travelTimeError'></div>
<div>
  <p>
    <%= link_to 'Add new Distance Calculation',
        new_travel_time_path,
        onclick: 'inputForm()',
        id: 'travelTimeFormLink',
        remote: true %>
  </p>
</div>
<div>
  <%= render partial: 'travel_time_table' %>
</div>
