// Place all the styles related to the travel_times controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  flex-direction: row;
}

#travelTimeError {
  max-width: 200px;
  border: 1px solid red;
  padding: 25Px;
  display: none;
}